@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
input {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.text-gray {
  color: #66778d;
}
.main {
  margin-top: 3rem;
}
.text-bold {
  font-weight: 600;
}
